* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Epilogue", sans-serif;
    background: #FAF8F6;
    height: 100svh;
}

.container {
    max-width: 81.5%;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.nav-container .right {
    display: flex;
    align-items: center;
}

a.btn-light {
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.16px;
    padding: 12px 24.5px 12px 23.5px;
    border: 1px solid #172339;
    border-radius: 6px;
    display: inline-block;
    color: #172339;
    text-decoration: none;
}

a.btn-light:hover {
    background-color: #172339;
    color: #FAF8F6;
}

a.btn-dark {
    text-decoration: none;
    padding: 15px 31px 14px 32px;
    background: #172339;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
    display: inline-block;
    margin-top: 42px;
}

a.btn-dark:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    color: #FAF8F6;
}

.hero-section-1 {
    display: flex;
    align-items: center;
    height: 100svh;
    justify-content: space-between;
}

.hero-section-1 h1 {
    font-size: 72px;
    color: #172339;
    line-height: 78px;
    letter-spacing: -1px;
    font-weight: 400;
    width: 635px;
    margin-bottom: 40px;
}

#bold {
    font-weight: 700;
}

.hero-section-1 p.sub-heading {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #49566D;
    width: 350px;
}

.hero-section-1 .left {
    z-index: 9;
}

.middle {
    width: 100%;
    position: relative;
}

.middle img {
    margin-left: -160px;
    z-index: -3;
    max-width: 100%;
    height: auto;
}

.hero-section-1 .line img {
    width: 287px;
    height: 32px;
    left: 415px;
    top: 180px;
    position: absolute;
}

.right {
    position: relative;
}

label {
display: flex;
height: 10svh;
}

.hero-section-1 .right .top {
    width: 190px;
    left: 1046px;
    top: 279px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.hero-section-1 .right .bottom {
    width: 190px;
    left: 1046px;
    top: 336px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.hero-section-1 .right .top-1 {
    width: 190px;
    left: 1046px;
    top: 425px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.hero-section-1 .right .bottom-1 {
    width: 190px;
    left: 1046px;
    top: 482px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.hero-section-1 .right .top-2 {
    width: 190px;
    left: 1046px;
    top: 571px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #172339;
}

.hero-section-1 .right .bottom-2{
    width: 190px;
    left: 1046px;
    top: 628px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #49566D;
}

.hero-section-2 {
    display: flex;
    align-items: center;
    height: 545px;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-top: 184px;
}

main {
    margin: 0 auto;
    background: #172339;
    border-radius: 15px;
    z-index: 1;
}

.hero-section-2 .left-2 {
    align-self: flex-end;
}

.hero-section-2 .left-2 img {
    vertical-align: middle;
    width: 359.81px;
    height: 589.56px;
    margin-left: 113.49px;
    
}

.hero-section-2 .small-line img {
    position: absolute;
    width: 64.05px;
    height: 52px;
    left: 508.25px;
    top: 160px;
}

.hero-section-2 .blur img {
    position: absolute;
    width: 294px;
    height: 294px;
    left: 142px;
    top: 182px;
    background: #DB65E2;
    opacity: 0.48;
    filter: blur(69.957px);
    z-index: -1;
}

.hero-section-2 .right-2 {
    margin-right: 133px;
    margin-left: 152.7px;
    width: 350px;
    height: 369px;
}

.hero-section-2 h2 {
    height: 56px;
    width: 299px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #FAF8F6;
}

.hero-section-2 p.quote {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 0.1px;
    color: #F3EDE7;
    margin-bottom: 40px;
}

.hero-section-2 h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #FAF8F6;
}

.hero-section-2 p.sub-heading-2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
    color: #F3EDE7;
}

section {
    position: relative;
    width: 100%;
    height: 464px;
    background: #F3EDE7;
    z-index: -3;
    margin-top: -250px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding-left: 130px;
    padding-right: 125px;
    position: absolute;
    top: 320px;
}

footer {
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    padding-right: 68px;
    letter-spacing: 0.0833333px;
    color: #49566D;
}

#facebook:hover {
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: pointer;
}

#twitter {
    padding-left: 38px;
    padding-right: 28px;
}

#twitter:hover {
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: pointer;
}

#instagram:hover {
    mix-blend-mode: normal;
    opacity: 0.5;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .mobile, .tablet {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .nav-container {
        margin-top: 24px;
    }

    .nav-container .left {
        margin-left: -16px;
    }

    .nav-container .right {
        margin-right: -16px;
    }

    .hero-section-1 {
        position: relative;
        margin-left: -16px;
        width: 343.5px;
        height: 323.21px;
        margin-top: 83.32px;
    }

    .hero-section-1 h1 {
        width: 100%;
        font-weight: 400px;
        font-size: 38px;
        line-height: 44px;
        letter-spacing: -0.527778px;
    }

    .hero-section-1 p.sub-heading {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
    }

    .hero-section-1 .line img {
        position: absolute;
        width: 151.47px;
        height: 16.89px;
        left: 155px;
        top: -20px;
    }

    .mobile {
        position: absolute;
        max-width: 100%;
        height: auto;
        margin-left: 16px;
        top: 549px;
    }

    .tablet {
        display: none;
    }

    .hero-section-1 .right {
        position: absolute;
        margin-top: 1420px;
        margin-left: 120px;
    }

    .top {
        margin-left: 5px;
    }
    
    .top-1 {
        margin-left: 38px;
    }

    .bottom-2 {
        margin-left: 25px;
    }

    .bottom, .bottom-1, .bottom-2 {
        margin-top: -25px;
    }

    .top, .top-1, .top-2 {
        margin-top: -25px;
    }

    .hero-section-2 {
        position: relative;
        width: 100svw;
        height: 748px;
        margin-left: -35px;
        margin-top: 893px;
    }

    .hero-section-2 .left-2 img {
        position: absolute;
        height: 402px;
        width: 252px;
        left: -35px;
        top: -180px;
    }

    .hero-section-2 .blur img {
        position: absolute;
        width: 100px;
        left: 150px;
        top: -88px;
        mix-blend-mode: normal;
        opacity: 0.48;
        filter: blur(67.957px);
    }

    .hero-section-2 .small-line img {
        position: absolute;
        width: 49.27px;
        left: 163px;
        top: 261px;
    }
    
    .hero-section-2 h2 {
        position: absolute;
        width: 323px;
        top: 338px;
        left: 25px;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
        text-align: center;
    }

    .hero-section-2 p.quote {
        position: absolute;
        width: 343px;
        left: 16px;
        top: 426px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
    }

    .hero-section-2 h4 {
        position: absolute;
        width: 165px;
        left: 106px;
        top: 626px;
    }

    .hero-section-2 p.sub-heading-2 {
        position: absolute;
        width: 190px;
        left: 138px;
        top: 658px;
    }

    section {
        position: relative;
        top: 99px;
    }

    .footer-info {
        display: block;
        width: 125px;
        top: 220px;
        left: 25px;
    }

    footer {
        width: 195px;
        margin-left: -23px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .right-3 {
        display: flex;
        width: 116px;
        margin-left: -23px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .mobile {
        display: none;
    }
    .nav-container {
        margin-top: 40px;
    }

    .nav-container .left {
        margin-left: -39px;
    }

    .nav-container .right {
        margin-right: -40px;
    }

    .hero-section-1 {
        position: relative;
        height: 482px;
        width: 789px;
        left: -39px;
        margin-top: 96px;
    }

    .hero-section-1 h1 {
        width: 563px;
        font-weight: 400px;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.777778px;
    }

    .hero-section-1 p.sub-heading {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
    }

    .hero-section-1 .line img {
        position: absolute;
        width: 231.19px;
        height: 29px;
        left: 242px;
        top: 20px;
    }

    .hero-section-1 .middle img {
        display: none;
    }

    .tablet {
        position: absolute;
        height: 482px;
        width: 281px;
        left: 497px;
        top: 176px;
        z-index: -3;
    }

    .hero-section-1 .right {
        position: absolute;
        display: flex;
        left: 69px;
        top: 546px;
    }

    .top-1 {
        margin-left: 100px;
    }

    .top-2 {
        margin-left: 20px;
    }

    .bottom {
        position: absolute;
        margin-left: -1052px;
        margin-top: -280px;
    }

    .bottom-1 {
        position: absolute;
        margin-left: -794px;
        margin-top: -427px;
    }

    .bottom-2 {
        position: absolute;
        margin-left: -517px;
        margin-top: -575px;
    }

    .hero-section-2 {
        position: relative;
        width: 739px;
        height: 684px;
        margin-left: -39px;
        margin-top: 404px;
    }

    .hero-section-2 .left-2 img {
        position: absolute;
        height: 402px;
        width: 252px;
        left: 154px;
        top: -180px;
    }

    .hero-section-2 .blur img {
        position: absolute;
        width: 100px;
        left: 320px;
        top: -88px;
        mix-blend-mode: normal;
        opacity: 0.48;
        filter: blur(67.957px);
    }

    .hero-section-2 .small-line img {
        position: absolute;
        width: 49.27px;
        left: 350px;
        top: 261px;
    }
    
    .hero-section-2 h2 {
        position: absolute;
        width: 573px;
        top: 338px;
        left: 88px;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.416667px;
        text-align: center;
    }

    .hero-section-2 p.quote {
        position: absolute;
        width: 573px;
        left: 85px;
        top: 426px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.09px;
    }

    .hero-section-2 h4 {
        position: absolute;
        width: 165px;
        left: 289px;
        top: 556px;
    }

    .hero-section-2 p.sub-heading-2 {
        position: absolute;
        width: 190px;
        left: 323px;
        top: 588px;
    }

    section {
        position: absolute;
        width: 100%;
        top: 1550px;
        height: 640px;
    }

    .footer-info {
        top: 520px;
        left: -90px;
    }

    footer {
        margin-left: 125px;
        text-align: center;
    }

    .right-3 {
        margin-right: -55px;
    }

    #twitter {
        position: absolute;
        margin-top: 3px;
        padding-left: 42px;
    }

    #instagram {
        position: absolute;
        margin-top: -23px;
        margin-left: 120px;
    }
}